<div class="container">


    <h3 align="center">
        <b> Change Password</b>

    </h3>
    <hr/>


    <div class="row ">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">


            <div>
                <form #f="ngForm" (ngSubmit)="change(f)" class="form-horizontal form" name="change"><br>

                    <div align="right" class="required">*Fields are mandatory</div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">Current Password<span class="star">*</span></label>

                        <div class="col-sm-7">
                            <input type="password" class="form-control" [(ngModel)]="old_password"
                                   pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$&]).*$" #Oldpassword="ngModel"
                                   placeholder="Current Password"
                                   name="password" required>

                            <div class="required" *ngIf="!Oldpassword.valid && Oldpassword.dirty">
                                <div *ngIf="Oldpassword.errors && Oldpassword.errors.required">
                                    password is required
                                </div>
                                <div *ngIf="Oldpassword.errors && Oldpassword.errors.pattern">
                                    password must contain at least 8 characters.(1 uppercase 1 lowercase 1 digit 1
                                    special
                                    symbol(@/#/$/&))
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">New Password<span class="star">*</span></label>

                        <div class="col-sm-7">
                            <input type="password" class="form-control" [(ngModel)]="edit_password"
                                   pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$&]).*$" #password2="ngModel"
                                   placeholder="Password" required validateEqual="confirmPassword3" reverse="true"
                                   name="password2" required>

                            <div class="required" *ngIf="!password2.valid && password2.dirty">
                                <div *ngIf="password2.errors && password2.errors.required">
                                    password is required
                                </div>
                                <div *ngIf="password2.errors && password2.errors.pattern">
                                    password must contain at least 8 characters.(1 uppercase 1 lowercase 1 digit 1
                                    special
                                    symbol(@/#/$/&))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Confirm Password<span class="star">*</span></label>

                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="confirmPassword3"
                                   placeholder="Confirm Password" [ngModel]="confirmPassword"
                                   required validateEqual="password2" reverse="false" #con_password="ngModel">

                            <div class="required" *ngIf="!con_password.valid  && con_password.dirty">
                                Confirm password should be same as above
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-7">

                            <button class="btn button3" [disabled]="!f.form.valid">Change</button>
                            <button type="reset" class="btn  button4">Reset</button>


                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <br><br>
</div>

