<nav class="navbar navbar-default container">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand img"><img src="http://localhost/ng4tutorial/src/assets/logo.png"
                                               class="img-responsive"></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><a *ngIf="role_id==1" routerLink="/dashboard" routerLinkActive="active">Users <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/aboutus" routerLinkActive="active">About us</a></li>
                <li><a *ngIf="!edit_firstname" routerLink="/signup" routerLinkActive="active">Signup/Login</a>
                </li>
                <li><a class="user" *ngIf="edit_firstname" routerLink="/edit/{{id}}" routerLinkActive="active">welcome
                    {{edit_firstname}} {{edit_lastname}}</a></li>

                <li *ngIf="edit_firstname">
                    <select class="form-control" name="role" #role_user style="background-color: #292d35;border-color: #292d35; margin-top:8px;color: white;"
                            (change)="onSelect($event.target.value)" required>
                        <option hidden [ngValue]="selectUndefinedOptionValue">-- Select --</option>
                        <option value="/change_password">Change Password</option>
                        <option value="/home"> Logout</option>

                    </select>
                </li>

            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>

