<div class="container">

    <h3 align="center">
        <b> View</b>
    </h3>
    <hr/>

    <div class="panel-header clearfix">

        <a class="add-link" routerLink="/dashboard" routerLinkActive="active">View All User</a>
    </div>
    <div class="row view">

         <div class="col-xs-6" align="right">
             First Name:<br>
             Last Name:<br>
             Email:<br>
             Address 1:<br>
             Address 2:
             </div>
         <div class="col-xs-6" align="left">
             {{view_firstname}}<br>
             {{view_lastname}}<br>
             {{view_email}}<br>
             {{view_address1}}<br>
             {{view_address2}}<br>
         </div>


    </div>
</div>