<div class="container">


    <h3 align="center">
        <b> Forgot Password</b>

    </h3>
    <hr/>


    <div class="row ">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">


            <div>
                <form #f="ngForm" (ngSubmit)="forgot(email.value)" class="form-horizontal form" name="change"><br>



                    <div class="form-group">
                        <label  class="col-sm-3 control-label">Email<span class="star">*</span></label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$"
                                   [(ngModel)]="user_email" #email="ngModel" placeholder="Email"
                                   name="email" required>

                            <div class="required" *ngIf="!email.valid && email.dirty">
                                <div *ngIf="email.errors && email.errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors && email.errors.pattern">
                                    Email is invalid
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">

                            <button class="btn button3" [disabled]="!f.form.valid">Save</button>


                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <br><br>
</div>

